
.background-image {
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  height: 100%; 
  color: white; 
}

.ion-padding {
  background: rgba(0, 0, 0, 0.5); 
  border-radius: 10px; 
}
#Login {
  --background: url('https://imgs.search.brave.com/5DURp0joNWQM7vhQ0LopXgNTo6DwKocx3kU6zG-vT-U/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9lYXN5/LXBlYXN5LmFpL2Nk/bi1jZ2kvaW1hZ2Uv/cXVhbGl0eT04MCxm/b3JtYXQ9YXV0byx3/aWR0aD03MDAvaHR0/cHM6Ly9tZWRpYS5l/YXN5LXBlYXN5LmFp/L2ZlNGNkOWI4LTNm/MzMtNDAxYS1hNTJl/LTRlZDNiZDFiNzE3/MS80NWUzMDM1Zi0x/NGMzLTQ5MmMtOGFk/Ni0xZGFhYjNiOTQ3/OGMucG5n') no-repeat center center / cover;
}